<div class="row">
    <div class="col-md">
        <div class="input-group mb-3">
            <form>
                <h1>Opret opgaveløser</h1>
                <label>Fornavn</label>
                <input type="text" name="fornavn">

                <label>Efternavn</label>
                <input type="text" name="efternavn">

                <label>Lokation</label>
                <select name="lokation">
                    <option value="1">Aarhus</option>
                    <option value="2">Aalborg</option>
                </select>

                <h2>KonsulentProfil</h2>
                <label>Møder ind kl</label>
                <input type="time" name="dagStart">

                <label>Tager hjem kl</label>
                <input type="time" name="dagSlut">

                <div>
                    <input type="checkbox" name="mandag" value="0">
                    <input type="checkbox" name="tirsdag" value="1">
                    <input type="checkbox" name="onsdag" value="2">
                    <input type="checkbox" name="torsdag" value="3">
                    <input type="checkbox" name="fredag" value="4">
                    <input type="number" step="0.5" name="arbejdstidPrUge">
                </div>

                <input type="submit">
            </form>
        </div>

        
    </div>
    <div class="col-md">
      One of three columns
    </div>
    <div class="col-md">
      One of three columns
    </div>
  </div>