body {
    background-color: #3498db;
}

nav{
    background-color: #2f3d50;
}

nav a {
    color:#08a79d;
    font-weight: 500;
}

.formArea{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 25px;
    padding: 1em;
}

.btn-success{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

/* .navbar-brand{
    color:#08a79d;
    background-color: #2f3d50;
} */

.availableWorkTime{
    border-style: solid;
    border-width: 1px;
    text-align: center;
    cursor: pointer
}

.lowWorkload{
    background-color: #2ecc71
}

.mediumWorkload{
    background-color: #f1c40f
}

.highWorkload{
    background-color: #e74c3c
}

th{
    text-align: center
}

.selectedForRemoval{
    background-color: #e74c3c
}

.scrollTable{
    overflow: auto;
}