body {
    background-color: #3498db;
}

nav {
    background-color: #ffeaa7
}

.availableWorkTime{
    border-style: solid;
    border-width: 1px;
    text-align: center;
    cursor: pointer
}

.lowWorkload{
    background-color: #2ecc71
}

.mediumWorkload{
    background-color: #f1c40f
}

.highWorkload{
    background-color: #e74c3c
}

th{
    text-align: center
}

.selectedForRemoval{
    background-color: #e74c3c
}

.scrollTable{
    overflow: auto;
}