body {
    background-color: #3498db;
}

/* nav{
    background-color: #2f3d50;
}

nav a {
    color:#08a79d;
    font-weight: 500;
} */

.container-fluid{
    width:95%;
}

.formArea{
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 25px;
    padding: 1em;
}

.pointer{
    cursor: pointer
}

/* .scrollTable{
    cursor: pointer
} */

.btn-success{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

/* .navbar-brand{
    color:#08a79d;
    background-color: #2f3d50;
} */

.availableWorkTime{
    border-style: solid;
    border-width: 1px;
    text-align: center;
    /* cursor: pointer */
}



.lowWorkload{
    background-color: #2ecc71
}

.mediumWorkload{
    background-color: #f1c40f
}

.highWorkload{
    background-color: #e74c3c
}

.red{
    background-color: #e74c3c
}

.green{
    background-color: #2ecc71
}

.redLedigeTimer{
    background-color: #e74c3c
}

.greenLedigeTimer{
    background-color: #2ecc71
}

th{
    text-align: center
}

.selectedForRemoval{
    background-color: #e74c3c
}

.scrollTable{
    overflow: auto;
}

.firstInMonth {
    border-left-width: 3px
}